/AE2careworkerproj/model/target/
/AE2careworkerproj/dao-jpa/target/
/AE2careworkerproj/service/target/
/AE2careworkerproj/web/target/
/AE2careworkerproj/client-rest/target/
/AE2careworkerproj/web-client/target/